<!doctype html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
        th:replace="~{base-layout::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>비밀번호 변경</title>
</head>
<body>
<section class="container">
    <form th:action="@{/password}" th:object="${password}" method="post">
    <div class="mb-3">
        <label class="form-label">기존 비밀번호
        <input type="text" th:field="*{old_password}" class="form-item"></label>
        <p th:if="${#fields.hasErrors('old_password')}" th:error="*{old_password}" class="text-danger"></p>
    </div>
        <div class="mb-3">
        <label class="form-label">신규 비밀번호
        <input type="text" th:field="*{new_password}" class="form-item"></label>
            <p th:if="${#fields.hasErrors('new_password')}" th:error="*{new_password}" class="text-danger"></p>
    </div>
        <div class="mb-3">
        <label class="form-label">비밀번호 확인
        <input type="text" th:field="*{confirm_password}" class="form-item"></label>
            <p th:if="${#fields.hasErrors('confirm_password')}" th:error="*{confirm_password}" class="text-danger"></p>
    </div>
        <button type="submit" class="btn btn-primary">변경</button>
        <button type="button" class="btn btn-warning">취소</button>
    </form>
</section>
</body>
</html>