<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      th:replace="~{base-layout::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="container">
    <form th:action="@{/update}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}" >
<!--        <div class="mb-3" th:if="${book.image!=null}">-->
<!--            <img th:src="@{/files/}+${book.image}" alt="${book.image}" style="max-width:300px">-->
<!--        </div>-->
        <div class="mb-3">
            <input type="text" th:field="*{title}" class="form-control"  >
        </div>
        <div class="mb-3">
            <textarea name="description" rows="5" cols="50" th:field="*{description}"   ></textarea>
        </div>
        <div class="mb-3">
            <input type="text" th:field="*{author}" class="form-control"  >
        </div>

        <button class="btn btn-primary" type="submit">수정</button>
        <a class="btn btn-warning" th:href="@{list}" type="button">목록</a>

    </form>
</section>
</body>
</html>